body{
    background-color: lightblue;
    font-family: monospace
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

#main-title {
    color: #3789A2;
    text-align: center;
    font-size: 5em;
}

#mini-title {
    color: #3789A2;
    text-align: left;
    font-size: 3em;
}

#search{
    position: absolute;
    left: calc(50% - 135px)
}

button {
    width: 200px;
    height: 66px;
    background-color: #0B2E38;
    border: none;
    color: white;
    padding: 1em 1.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-style: outset;
    border-color: rgb(8, 56, 95)
}

#books-button{
    position: absolute;
    left: 300px;
    top: 20px
}

#users-button{
    position: absolute;
    left: 520px;
    top: 20px
}

#in-out-button{
    position: absolute;
    left: 740px;
    top: 20px
}

#fines-button{
    position: absolute;
    left: 960px;
    top: 20px
}

#account-button{
    position:absolute;
    left: calc(100% - 240px);
    top: 10em;
    background-color: #3789A2;
    border-color: rgb(55, 165, 199);
    height:40px;
    text-align: center;
    font-size:0.75em
}

#category-button{
    position: absolute;
    left: calc(50% - 210px);
    top: 23em;
    background-color: #3789A2;
    border-color: rgb(55, 165, 199);
}

#recommended-button{
    position: absolute;
    left: calc(50% + 10px);
    top: 23em;
    background-color: #3789A2;
    border-color: rgb(55, 165, 199);
}

#add-button{
    position: absolute;
    top: 14em;
    left:40px
}

#admins{
    position:absolute;
    left:60px;
    top: 1.35em;
    color: white
}


.square {
    height: 7em;
    width: 100%;
    background-color: rgb(25, 82, 168);
}

.square2 {
    height: calc(100% - 12em);
    width: 100%;
    background-color: rgb(25, 82, 168)
}